h1,h2,h3, p {
  font-family: 'Montserrat', sans-serif;
  font-family: 'Playfair Display', serif;
}

body {
  background-color: rgb(25, 25, 25);
  color: aliceblue;
}

h1{
  font-size: 50px;
}
header section{
    background-image: url(../img/header/bgheaderblur.jpg) ;
    background-repeat: no-repeat; 
    background-size: cover; 
    background-position:center;
    color: aliceblue;
    height: 80vh;
    font-size: 20px;
}



nav {
  background:linear-gradient(75deg,#171717,#0a3c3a);
}  

nav li .nav-link{ 
  color: azure;
}

nav li .nav-link:hover{ 
  color: rgb(225, 180, 17);
}

main section li .nav-link {
  color: azure;
}

main section li .nav-link:hover {
  color: rgb(225, 180, 17);
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  background-color: rgb(225, 180, 17);
}

#portfolio{
    height: auto;
}

#présentation{
  height: 80vh; /* 80vh Signifie la visibilité de l'écran à 80% */
}

.bggradvert{
        background:linear-gradient(75deg,#171717,#0a3c3a );
        background-repeat: no-repeat; 
        background-size: cover; 
        background-position:center;
        color: aliceblue;
}

.btn:hover {
  color: var(--bs-btn-hover-color);
  background-color: var(--bs-btn-hover-bg);
  border-color: rgb(255, 255, 255);
}

.btn-light {
  color: ;
  background-color: rgb(225, 180, 17);
  border-color: rgb(225, 180, 17);
}

footer {
    background:linear-gradient(75deg,#171717,#0a3c3a ); 
    background-repeat: no-repeat; 
    background-size: cover; 
    background-position:center;
    color: aliceblue;
}
/* ------ PRESENTATION ------ */

@import url("https://fonts.googleapis.com/css?family=Cardo:400i|Rubik:400,700&display=swap");
:root {
  --d: 700ms;
  --e: cubic-bezier(0.19, 1, 0.22, 1);
  --font-sans: "Rubik", sans-serif;
  --font-serif: "Cardo", serif;
}

.page-content {
  display: grid;
  grid-gap: 1rem;
  padding: 1rem;
  max-width: 1024px;
  margin: 0 auto;
  font-family: var(--font-sans);
}
@media (min-width: 600px) {
  .page-content {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 800px) {
  .page-content {
    grid-template-columns: repeat(4, 1fr);
  }
}

.card {
  position: relative;
  display: flex;
  align-items: flex-end;
  overflow: hidden;
  padding: 1rem;
  margin: 20px;
  width: 100%;
  text-align: center;
  color: rgb(255, 255, 255);
  background-color: rgb(181, 175, 175);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 2px 2px rgba(0, 0, 0, 0.1), 0 4px 4px rgba(0, 0, 0, 0.1), 0 8px 8px rgba(0, 0, 0, 0.1), 0 16px 16px rgba(0, 0, 0, 0.1);
}
@media (min-width: 200px) {
  .card {
    height: 200px; 
    width: 200px;
  }
}
.card:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 110%;
  background-size: cover;
  background-position: 0 0;
  transition: transform calc(var(--d) * 1.5) var(--e);
  pointer-events: none;
}
.card:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 200%;
  pointer-events: none;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.009) 11.7%, rgba(0, 0, 0, 0.034) 22.1%, rgba(0, 0, 0, 0.072) 31.2%, rgba(0, 0, 0, 0.123) 39.4%, rgba(0, 0, 0, 0.182) 46.6%, rgba(0, 0, 0, 0.249) 53.1%, rgba(0, 0, 0, 0.32) 58.9%, rgba(0, 0, 0, 0.394) 64.3%, rgba(0, 0, 0, 0.468) 69.3%, rgba(0, 0, 0, 0.54) 74.1%, rgba(0, 0, 0, 0.607) 78.8%, rgba(0, 0, 0, 0.668) 83.6%, rgba(0, 0, 0, 0.721) 88.7%, rgba(0, 0, 0, 0.762) 94.1%, rgba(0, 0, 0, 0.79) 100%);
  transform: translateY(-50%);
  transition: transform calc(var(--d) * 2) var(--e);
}

.card:nth-child(1):before {
    background-image: url(../img/hobbies/snowboard.jpg);
    background-repeat: no-repeat; 
    background-size: cover; 
    background-position:center;
}
.card:nth-child(2):before {
    background-image: url(../img/hobbies/game.jpg);
    background-repeat: no-repeat; 
    background-size: cover; 
    background-position:center;
}
.card:nth-child(3):before {
    background-image: url(../img/hobbies/design.jpg);
    background-repeat: no-repeat; 
    background-size: cover; 
    background-position:center;
}
.card:nth-child(4):before {
    background-image: url(../img/hobbies/danse.jpg);
    background-repeat: no-repeat; 
    background-size: cover; 
    background-position:center;
  }
.content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 1rem;
  transition: transform var(--d) var(--e);
  z-index: 1;
}
.content > * + * {
  margin-top: 1rem;
}

.title {
  font-size: 1.3rem;
  font-weight: bold;
  line-height: 1.2;
}

.copy {
  font-family: var(--font-serif);
  font-size: 1.125rem;
  font-style: italic;
  line-height: 1.35;
}


@media (hover: hover) and (min-width: 600px) {
  .card:after {
    transform: translateY(0);
  }

  .content {
    transform: translateY(calc(100% - 4.5rem));
  }
  .content > *:not(.title) {
    opacity: 0;
    transform: translateY(1rem);
    transition: transform var(--d) var(--e), opacity var(--d) var(--e);
  }

  .card:hover,
.card:focus-within {
    align-items: center;
  }
  .card:hover:before,
.card:focus-within:before {
    transform: translateY(-4%);
  }
  .card:hover:after,
.card:focus-within:after {
    transform: translateY(-50%);
  }
  .card:hover .content,
.card:focus-within .content {
    transform: translateY(0);
  }
  .card:hover .content > *:not(.title),
.card:focus-within .content > *:not(.title) {
    opacity: 1;
    transform: translateY(0);
    transition-delay: calc(var(--d) / 8);
  }

  .card:focus-within:before, .card:focus-within:after,
.card:focus-within .content,
.card:focus-within .content > *:not(.title) {
    transition-duration: 0s;
  }
}
